include include/base.pug
include include/head.pug
-let id = msg[0]._id;
-delete msg[0]._id;
-let time = msg[0].time;
-delete msg[0].time;
-let content = JSON.stringify(msg[0]);

body
  form(method='post',action='/show/update/'+id)
    input.content(type='text',value=content,name='con')
    input.invisible(type='text',value=time,name='time')
    input(type='submit',value='変更')
  
  
  p
    a(href='/show') データ一覧
