include include/base.pug
include include/head.pug

body
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket-test.js")
  h1.sitettl #{title}
  |
  a(href='/show') 一覧
